<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script>
    var ifEmailChecked = false;
    var ifIdChecked = true;
    $(document).ready(function() {
      $('#checkId').click(function() {
        $.ajax({
          type: "POST",
          url : "/api/auth/checkDuplicatedId",
          contentType: 'application/json',
          data : JSON.stringify ({
            "userId" : $('#userId').val(),
          }),
          success : function(data) {
            if (data) {
              alert("Check failed");
            }
            else {
              ifIdChecked = true;
              alert("Check successed");
            }
          },
          error : function() {
            alert("Error!");
          }
          });
      });

      $('#checkEmail').click(function() {
        $.ajax({
          type: "POST",
          url : "/api/auth/mailConfirm",
          contentType: 'application/json',
          data : JSON.stringify ({
            "userEmail" : $('#userEmail').val()
          }),
          success : function(data) {
            if (data) {
              alert("이메일이 발송되었습니다.");
            }
            else {
              alert("이메일이 중복됩니다.");
            }
          },
          error : function() {
            alert("Error!");
          }
        });
      });

      $('#checkCode').click(function() {
        $.ajax({
          type: "POST",
          url : "/api/auth/mailConfirmChk",
          contentType: 'application/json',
          data : JSON.stringify ({
            "code" : $('#code').val(),
          }),
          success : function(data) {
            if (data) {
              ifEmailChecked = true;
              alert("Check successed");
            }
            else {
              alert("Check failed");
            }
          },
          error : function() {
            alert("Error!");
          }
          });
      });

      
      $('#submit').click(function() {
        if (ifEmailChecked && ifIdChecked) {
          $.ajax({
          type: "POST",
          url : "/api/auth",
          contentType: 'application/json',
          data : JSON.stringify ({
            "userId" : $('#userId').val(),
            "userPw" : $('#userPw').val(),
            "userNickname" : $('#userNickname').val(),
            "userPhone" : $('#userPhone').val(),
            "userEmail" : $('#userEmail').val()
          }),
          success : function() {
            alert("가입되었습니다.");
          },
          error : function() {
            alert("Error!");
          }
          });
        } 
        else {
          alert("이메일이 인증되지 않았습니다.");
        }
      });
      
    });

  </script>
  
</head>
<body>
  <div class="container">
    <div class="form-group">
      <label for="userId" id="asdf">id</label>
      <input type="text" id="userId" name="userId" placeholder="ID를 입력하세요"> 
      <button type="button" id="checkId">중복검사</button>
      <br>
      <label for="userPw">pw</label>
      <input type="text" id="userPw" name="userPw" placeholder="Pw를 입력하세요"> <br>
      <label for="userNickname">별명</label>
      <input type="text" id="userNickname" name="userNickname" placeholder="이름을 입력하세요"> <br>
      <label for="userPhone">전화번호</label>
      <input type="text" id="userPhone" name="userPhone" placeholder="전화번호를 입력하세요"> <br>
    </div>
    <div>
      <label for="userEmail">이메일</label>
      <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요">
      <button type="button" id="checkEmail">인증번호 보내기</button> <br>
      <label for="code" id="myMailConfirmTxt">인증번호를 입력해주세요</label>
      <input type="text" id="code" name="code" placeholder="인증번호">
      <button type="button" id="checkCode">이메일 인증하기</button> <br>
    </div>
    <button type="button" id="submit">등록</button>
  </div> <!-- /container -->
</body>
</html>