<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#submit').click(function() {
        if ($('inRecruit') == true) var i = true;
        else var i = false;
        $.ajax({
        type: "POST",
        url : "/api/club/registerNewClub",
        contentType: 'application/json',
        data : JSON.stringify ({
          "clubName" : $('#name').val(),
          "representative" : $('#representative').val(),
          "sns" : $('#sns').val(),
          "inRecruit" : i,
          "interest" : $('#interest').val(),
          "room" : $('#room').val(),
          "recruitTarget" : $('#recruitTarget').val(),
          "recruitStart" : $('#recruitStart').val(),
          "recruitEnd" : $('#recruitEnd').val(),
          "applicationConditions" : $('#applicationConditions').val()
        }),
        success : function() {
          alert("동아리가 등록되었습니다.");
        },
        error : function() {
          alert("Error!");
        }
        });
      });
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="form-group">
      <label for="name">동아리 이름</label>
      <input type="text" id="name" name="name" placeholder="동아리 이름을 입력하세요"> <br>
      <label for="sns">SNS</label>
      <input type="text" id="sns" name="sns" placeholder="SNS를 입력하세요"> <br>
      <label for="interest">관심사</label>
      <input type="text" id="interest" name="interest" placeholder="동아리의 관심사를 입력하세요"> <br>
      <label for="room">동아리방</label>
      <input type="text" id="room" name="room" placeholder="동아리방을 입력하세요"> <br>
      <label for="representative">대표자</label>
      <input type="text" id="representative" name="representative" placeholder="대표자 이름을 입력하세요"> <br>
      <label for="recruitTarget">동아리 모집 대상</label>
      <input type="text" id="recruitTarget" name="recruitTarget" placeholder="동아리 모집 대상을 입력하세요"> <br>
      <label for="applicationCondition">동아리 모집 조건</label>
      <input type="text" id="applicationCondition" name="applicationCondition" placeholder="동아리 모집 조건을 입력하세요"> <br>
      <label for="recruitStart">동아리 모집 시작일</label>
      <input type="text" id="recruitStart" name="recruitStart" placeholder="동아리 시작일을 입력하세요"> <br>
      <label for="recruitEnd">동아리 모집 종료일</label>
      <input type="text" id="recruitEnd" name="recruitEnd" placeholder="동아리 종료일을 입력하세요"> <br>
      <label for="inRecruit">모집중이십니까?</label>
      <label><input type="radio" id="inRecruit" name="inRecruit" value="true" checked>네</label>
      <label><input type="radio" id="inRecruit" name="inRecruit" value="false">아니오</label>
    </div>
    <button type="submit" id="submit">등록</button>
  </div> <!-- /container -->
</body>
</html>