<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/auth" method="post">
    <div class="form-group">
      <label for="userId">id</label>
      <input type="text" id="userId" name="userId" placeholder="ID를 입력하세요"> <br>
      <label for="userPw">pw</label>
      <input type="text" id="userPw" name="userPw" placeholder="Pw를 입력하세요"> <br>
      <label for="userNickname">별명</label>
      <input type="text" id="userNickname" name="userNickname" placeholder="이름을 입력하세요"> <br>
      <label for="userEmail">이메일</label>
      <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요"> <br>
      <label for="userPhone">전화번호</label>
      <input type="text" id="userPhone" name="userPhone" placeholder="전화번호를 입력하세요"> <br>
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>