<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>
           <h1>Hello Spring</h1>
           <p>회원 기능</p>
            <p>
                <a href="/user/auth">회원 가입</a>
                <a href="/user">회원 목록</a>
            </p>
            <br>
            <p>동아리 기능</p>
            <p>
                <a href="/club/register">동아리 가입</a>
                <a href="/club">동아리 목록</a>
            </p>
        </div>
    </body>
</html>
