<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">]
<head>
    <meta charset="UTF-8">
    <title>Club detail</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>test</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${posts.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>